.blank{
    position: relative;
    background-image: url('../images/voteBg.png');
    width: 480px;
    height: 655px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}

form#blank-form span .cont{
    width: 25px;
    height: 25px;
    position: relative;
}

form#blank-form span input{
    position: absolute;
    opacity: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
}

form#blank-form span img{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}
 p#content{
    min-height: 300px;
     
 }

 img#voted{
     position: absolute;
     top: 78%;
     left: 70%;
     transform: translate(-50%, -50%);
     width: 250px;
     height: 250px;
 }